@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Use Gelasio as the main font */
  --font-sans: var(--font-gelasio);
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  font-family: var(--font-gelasio), serif;
}

html {
  scroll-behavior: smooth;
}
